<div class="row">
 <div class="col-md-6">
  <%= image_tag "ios book.png", class: "img-responsive" %>
 </div>
  
 <div class="col-md-6">	
  <%= @book.name %> <br/>
  <%= @book.description %>  

  <h2 class="text align">RM<%= @book.price.to_f/100 %></h2>

 </div>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
